<%= form_with(model: match) do |form| %>
  <% if match.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
        <% match.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :winner_id, style: "display: block" %>
    <%= form.collection_select :winner_id, Player.all, :id, :name, { prompt: "Select Winner" } %>
  </div>

  <div>
    <%= form.label :loser_id, style: "display: block" %>
    <%= form.collection_select :loser_id, Player.all, :id, :name, { prompt: "Select Loser" } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
